<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>HRM</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Tour Usages" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/tour">Generate Tour</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/list">Tour List</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Workplace</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Company" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/company">Add Company</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/company-list">Company List</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="User" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/user">Add User</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/user-list">User List</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Employee" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/employee">Add Employee</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/employee-list">Employee List</a>
          </li>
        </ul>
      </li>

      <li nz-submenu nzOpen nzTitle="Employee Attendance" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/employee-attendance">Add Employee Attendance</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/employee-attendance-list">Employee Attendance List</a>
          </li>
        </ul>
      </li>

      <li nz-submenu nzOpen nzTitle="Employee Project" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/employee-project">Add Employee Project</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/employee-project-list">Employee Project List</a>
          </li>
        </ul>
      </li>

      <li nz-submenu nzOpen nzTitle="Employee Salary" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/employee-salary">Add Employee Salary</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/employee-salary-list">Employee Salary List</a>
          </li>
        </ul>
      </li>

      <li nz-submenu nzOpen nzTitle="Employee Leave" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/leave">Add Employee Leave</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/leave-list">Employee Leave List</a>
          </li>
        </ul>
      </li>

      <li nz-submenu nzOpen nzTitle="Payroll" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/payroll">Add Payroll</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/payroll-list">Payroll List</a>
          </li>
        </ul>
      </li>

      <li nz-submenu nzOpen nzTitle="Tax" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/tax">Add Tax</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/tax-list">Tax List</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Department" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/department">Add Department</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/department-list">Department List</a>
          </li>
        </ul>
      </li>

      <li nz-submenu nzOpen nzTitle="Designation" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/designation">Add Designation</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/designation-list">Designation List</a>
          </li>
        </ul>
      </li>

      <li nz-submenu nzOpen nzTitle="Loan" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/loan">Add Loan</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/loan-list">Loan List</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Training" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/training">Add Training</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/training-list">Training List</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="GeolocationList" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/geolocation">Add GeolocationList</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/geolocation-list">GeolocationList List</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Basic Form</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
